*.pyc
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
build/
dist/
.eggs/
src/*.egg-info/
.vscode/
.idea/
/KSP-Auto-Landing-main
/old
zem_boosterback_debug.log
zem_boosterback_frequency_report.md
1_zem_boosterback_debug.log
2_zem_boosterback_debug.log
